.Form
  .Form__contents
    %h1.Form__contents__title クレジットカード情報入力
    .Form__contents__main
      = form_with local: true, class: "Form__contents__main__input" do |f|
        .Form__contents__main__input__box
          %h2.Form__contents__main__input__box--cardNumber カード番号
          %h2.Form__contents__main__input__box__required 必須
        = f.text_field :content, class: "Form__contents__main__input--number", placeholder: "半角数字のみ"
        .Form__contents__main__input--mark
          = image_tag "card_m_all.png", alt: "visa", height: '', width: '300px', class: "Form__contents__main__input--mark--logo"
        .Form__contents__main__input__box2
          %h2.Form__contents__main__input__box2--expirationDate 有効期限
          %h2.Form__contents__main__input__box2--required 必須
        .Form__contents__main__input__expirationDate
          %select{ name: "", class: "Form__contents__main__input__expirationDate--mmNumber" }
            %option{value:"1月"} 1
            %option{value:"2月"} 2
            %option{value:"3月"} 3
            %option{value:"4月"} 4
            %option{value:"5月"} 5
            %option{value:"6月"} 6
            %option{value:"7月"} 7
            %option{value:"8月"} 8
            %option{value:"9月"} 9
            %option{value:"10月"} 10
            %option{value:"11月"} 11
            %option{value:"12月"} 12
          %p.Form__contents__main__input__expirationDate--month 月
          %select{ name: "", class: "Form__contents__main__input__expirationDate--yyNumber" }
            %option{value:2020} 20
            %option{value:2021} 21
            %option{value:2022} 22
            %option{value:2023} 23
            %option{value:2024} 24
            %option{value:2025} 25
            %option{value:2026} 26
            %option{value:2027} 27
            %option{value:2028} 28
            %option{value:2029} 29
            %option{value:2030} 30
            %option{value:2031} 31
          %p.Form__contents__main__input__expirationDate--year 年
        .Form__contents__main__input__box3
          %h2.Form__contents__main__input__box3--item セキュリティコード
          %h2.Form__contents__main__input__box3__required 必須
        = f.text_field :content, class: "Form__contents__main__input--securityCode", placeholder: "カード背面4桁もしくは3桁の番号"
        = link_to "#", class: "Form__contents__main__input--link" do
          %p.Form__contents__main__input--link--help カード裏面の番号とは？
        = f.submit "追加する", class: "Form__contents__main__input--addBtn"
