.toppage
  .header
    .header__inner
      .header__inner__main
        .header__inner__main__logo
          = link_to root_path do
            =image_tag "logo.png", alt: "FURIMA：", class: "header__inner__main__logo__img"
        .header__inner__main__searchbox
          .header__inner__main__searchbox__input
            = form_with(url: root_path, local: true, method: :get, class: "header__inner__main__searchbox__input__search") do |form|
              = form.text_field :keyword, placeholder: "キーワードから探す", class: "header__inner__main__searchbox__input__search__keyword"
              = form.submit ".", class: "search-btn"
              = image_tag "icon-search 1.png", alt: "検索", class: "search-btn__icon"
          .header__inner__main__searchbox__btn
      .header__inner__nav
        .header__inner__nav__left
          .header__inner__nav__left__category
            = link_to category_path ,class: "header__inner__nav__left__category--link" do
              .header__inner__nav__left__category--icon= icon("fas", "bars")
              .header__inner__nav__left__category--title カテゴリーから探す
          .header__inner__nav__left__brand
            = link_to "#", class: "header__inner__nav__left__category--link" do
              .header__inner__nav__left__category--icon= icon("fas", "tag")
              .header__inner__nav__left__category--title ブランドから探す
        .header__inner__nav__right
          .header__inner__nav__right__lists
            = link_to "お知らせ", '#', class: "header__inner__nav__right__lists--link"
          .header__inner__nav__right__lists
            = link_to "やることリスト", '#', class: "header__inner__nav__right__lists--link"
          .header__inner__nav__right__lists
            = link_to "マイページ", user_path(current_user.id), class: "header__inner__nav__right__lists--link"
          .header__inner__nav__right__lists
            = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__inner__nav__right__lists--link"
    .header__crumbs
      フリマ  >  マイページ