.Main
  .Main__contents
    .Main__contents__mypage
      .Main__contents__mypage__profile
        %p
          = @name
          さんのページ
      %ul.Main__contents__mypage__tub
        = link_to "#", class: "Main__contents__mypage__tub__link" do
          %li.Main__contents__mypage__tub__link__news お知らせ
        = link_to "#", class: "Main__contents__mypage__tub__link" do
          %li.Main__contents__mypage__tub__link__todo やることリスト
      %ul.Main__contents__mypage__news
        = link_to "#", class: "Main__contents__mypage__news__link" do
          %li.Main__contents__mypage__news__link__contents お知らせ１
        = link_to "#", class: "Main__contents__mypage__news__link" do
          %li.Main__contents__mypage__news__link__contents お知らせ２
        = link_to "#", class: "Main__contents__mypage__news__link" do
          %li.Main__contents__mypage__news__link__contents お知らせ３
        = link_to "#", class: "Main__contents__mypage__news__link" do
          %li.Main__contents__mypage__news__link__contents お知らせ４
        = link_to "#", class: "Main__contents__mypage__news__link" do
          %li.Main__contents__mypage__news__link__contents お知らせ５
      .Main__contents__mypage__list
        = link_to "#", class: "Main__contents__mypage__list__link" do
          一覧を見る