.Menu
  .Menu__box
    %ul.Menu__box__group1
      = link_to user_path(current_user.id), class: "Menu__box__group1__link" do
        %li.Menu__box__group1__link__content マイページメニュー
      = link_to "#", class: "Menu__box__group1__link" do
        %li.Menu__box__group1__link__content お知らせ
      = link_to "#", class: "Menu__box__group1__link" do
        %li.Menu__box__group1__link__content やることリスト
      = link_to "#", class: "Menu__box__group1__link" do
        %li.Menu__box__group1__link__content いいね！一覧
      = link_to "#", class: "Menu__box__group1__link" do
        %li.Menu__box__group1__link__content 出品する
      = link_to "#", class: "Menu__box__group1__link" do
        %li.Menu__box__group1__link__content 下書き一覧
      = link_to "#", class: "Menu__box__group1__link" do
        %li.Menu__box__group1__link__content 出品した商品 - 出品中
      = link_to "#", class: "Menu__box__group1__link" do
        %li.Menu__box__group1__link__content 出品した商品 - 取引中
      = link_to "#", class: "Menu__box__group1__link" do
        %li.Menu__box__group1__link__content 出品した商品 - 売却済み
      = link_to "#", class: "Menu__box__group1__link" do
        %li.Menu__box__group1__link__content 購入した商品 - 取引中
      = link_to "#", class: "Menu__box__group1__link" do
        %li.Menu__box__group1__link__content 購入した商品 - 過去の取引
      = link_to "#", class: "Menu__box__group1__link" do
        %li.Menu__box__group1__link__content ニュース一覧
      = link_to "#", class: "Menu__box__group1__link" do
        %li.Menu__box__group1__link__content 評価一覧
      = link_to "#", class: "Menu__box__group1__link" do
        %li.Menu__box__group1__link__content ガイド
      = link_to "#", class: "Menu__box__group1__link" do
        %li.Menu__box__group1__link__content お問い合わせ
    %h2.Menu__box__title フリペイ
    %ul.Menu__box__group2
      = link_to "#", class: "Menu__box__group2__link" do
        %li.Menu__box__group2__link__content 売上・振込申請
      = link_to "#", class: "Menu__box__group2__link" do
        %li.Menu__box__group2__link__content ポイント
    %h2.Menu__box__title 設定
    %ul.Menu__box__group3
      = link_to "#", class: "Menu__box__group3__link" do
        %li.Menu__box__group3__link__content プロフィール
      = link_to "#", class: "Menu__box__group3__link" do
        %li.Menu__box__group3__link__content 発送元・お届け先住所変更
      = link_to edit_user_path(current_user.id), class: "Menu__box__group3__link" do
        %li.Menu__box__group3__link__content 支払い方法
      = link_to "#", class: "Menu__box__group3__link" do
        %li.Menu__box__group3__link__content メール/パスワード
      = link_to "#", class: "Menu__box__group3__link" do
        %li.Menu__box__group3__link__content 本人情報
      = link_to "#", class: "Menu__box__group3__link" do
        %li.Menu__box__group3__link__content 電話番号の確認
      = link_to logout_user_path, method: :get, class: "Menu__box__group3__link" do
        %li.Menu__box__group3__link__content ログアウト

