.confirm
  .confirm__header
    =image_tag "logo.png", alt: "FURIMA：", class: "confirm__header__logo"
  -#テキスト本文
  .confirm__inner
    .confirm__inner__box
      .confirm__inner__box__subject
        %p.confirm-text 購入内容の確認
      .confirm__inner__box__main
        .confirm__inner__box__main__content
          .confirm__inner__box__main__content__img
            - @item.images.first(1).each do |image|
              =image_tag image.image.url, alt: "no-image", size: "150x150"
          .confirm__inner__box__main__content__information
            .confirm__inner__box__main__content__information__name= @item.name
            .confirm__inner__box__main__content__information__price= "#{@item.price}" + "円"
        .confirm__inner__box__main__sum
          .confirm__inner__box__main__sum__pay  支払い金額
          .confirm__inner__box__main__sum__price= "#{@item.price}" + "円"
        .confirm__inner__box__main__pay
          .confirm__inner__box__main__pay__style  支払い方法
          .confirm__inner__box__main__pay__way
          -#クレジットカードが登録されたら以下payが表示される。
          - if @user.card.present?
            .pay-credit
              .pay-card クレジットカード情報
              .pay-number= "**** **** **** " + @customer_card.last4
              .pay-date
                .pay-date-title 有効期限
                .pay-date-number= @exp_month + " / " + @exp_year
          - else
            .buy__purchaseNonBtn
              = form_tag(action: :pay, method: :post) do
                %script.payjp-button{src: "https://checkout.pay.jp", type: "text/javascript" ,"data-text": "購入する" ,"data-key": "pk_test_9a9b5886a32f02092f60b9a4",}
        .confirm__inner__box__main__address
          .confirm__inner__box__main__address__style  配送先
          .confirm__inner__box__main__address__bound  愛知県名古屋市中区栄３丁目×××
        %p.buy-attention  郵便局/コンビニ受取をご希望の方は、購入後に取引画面から受取場所を変更することが可能です。出品者が発送作業を開始した後は受取場所の変更ができませんので、早めに変更を行ってください。
        -#ボタン
        - if @user.card.present?
          .confirm__box__btn
            .confirm__box__btn__inner
              .confirm__box__btn__inner__buy
                = link_to "登録クレジットカードで購入する", pay_item_path(item_id: @item.id), method: :post, class: "purchaseBtn"
              .confirm__box__btn__inner__return
                = link_to "戻る", root_path, method: :get, class: 'return-btn'
        - else
          .confirmBox
            = link_to "戻る", root_path, method: :get, class: 'return-btn'
    -#フッター          
  .confirm__footer
    .confirm__footer__box
      %p.footer-rule プライバシーポリシー
      %p.footer-rule FURIMA利用規約
      %p.footer-rule 特定商取引に関する表記
    .confirm__footer__img
      =image_tag "logo-white.png", alt: "FURIMA：", class: "confirm__footer__img__logo"
      %p.company  ©️FURIMA
    