-# 購入完了しましたページ
.pay
  .mainContents
    .mainDetails
      .mainDetails__message 購入が完了しました。
      .mainDetails__title 購入内容の確認
      .mainDetails__productBox
        .mainDetails_productBox_content
          .mainDetails_productBox_content__img
            - @item.images.first(1).each do |image|
              =image_tag image.image.url, alt: "no-image", size: "150x150"
          .mainDetails_productBox_content__text
            .mainDetails_productBox_content_text_name= @item.name
            .mainDetails_productBox_content_text_price= "#{@item.price}円"
      %ul.links
        %li.links__top
          = link_to "トップページに戻る", root_path, class: "links_top_btn"
        %li.links__index
          = link_to "購入商品一覧", "#", class: "links_index_btn"
    .privacy
      .privacy-policy プライバシーポリシー
      .privacy-content プライバシー利用規約
      .privacy-line 特定商取引に関する表記