.edit
  = render partial: 'layouts/flash'
  .edit__box
    .edit__box__logo
      =image_tag "logo.png", alt: "FURIMA：", class: "edit__box__logo__img"
    .edit__box__content
    = form_with model: @item, local: true, method: :post, class: "edit__box__content" do |f|
      .edit__box__content__inner
        %p.edit-title 商品情報の入力
        -#商品名
        .edit__box__content__inner__image
          .edit__box__content__inner__image__explain
            %p.image 商品画像
            %p.absolute 必須
          %p.img-explain ※最大10枚までアップロード可能です。


          #image-box
            #previews
              - if @item.persisted?
                - @item.images.each_with_index do |image, i|
                  = image_tag image.image.url, data: { index: i }, width: "100", height: '100'
                  //= images_tag @item.image.url, data: { index: i }, width: "100", height: '100'
            = f.fields_for :images do |image|
              .js-file_group{"data-index" => image.index}
                = image.file_field :image, class: 'js-file'
                %br
                %span.js-remove 削除
              - if @item.persisted?
                = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
            - if @item.persisted?
              .js-file_group{"data-index" => @item.images.count}
                = file_field_tag :image, name: "item[images_attributes][#{@item.images.count}][image]", class: 'js-file'
                .js-remove 削除


        -#商品名
        .edit__box__content__inner__name
          .edit__box__content__inner__name__explain
            %p.name 商品名
            %p.absolute 必須
          .edit__box__content__inner__name__form__input
            = f.text_field :name, class: "edit__box__content__inner__name__form__input__text__type", placeholder: "　最大40文字まで"
            -#商品の説明
        .edit__box__content__inner__introduction
          .edit__box__content__inner__introduction__explain
            %p.introduction 商品の説明
            %p.absolute 必須
          .edit__box__content__inner__introduction__form__input
            = f.text_area :introduction, class: "edit__box__content__inner__introduction__form__input__text__type", placeholder: "　最大1000文字まで"
            -#商品の金額
        .edit__box__content__inner__price
          .edit__box__content__inner__price__explain
            %p.price 販売価格
            %p.absolute 必須
          .edit__box__content__inner__price__form__input
            %p.yen ¥
            = f.text_field :price, class: "edit__box__content__inner__price__form__input__text__type", placeholder: "　300円〜9999999円まで"
            -#商品のカテゴリー
        .edit__box__content__inner__category
          .edit__box__content__inner__category__explain
            %p.category カテゴリー
            %p.absolute 必須
          -#.edit__box__content__inner__category__form__input
            -#= f.text_field :category, class: "edit__box__content__inner__category__form__input__text__type", placeholder: "(例)ジャケット"
            -#商品のブランド
        .edit__box__content__inner__brand
          .edit__box__content__inner__brand__explain
            %p.brand ブランド
            %p.absolute 
          .edit__box__content__inner__brand__form__input
            = f.text_field :brand, class: "edit__box__content__inner__brand__form__input__text__type", placeholder: "　(例)ザ　ノースフェイス"
            -#商品の状態
        .edit__box__content__inner__condition
          .edit__box__content__inner__condition__explain
            %p.condition 商品の状態
            %p.absolute 必須
          .edit__box__content__inner__condition__form__input
            .edit__box__content__inner__condition__form__input__text
              .edit__box__content__inner__condition__form__input__text__type
                = f.select :condition, Item.conditions.keys,{prompt:"選択してください"}
            -#配送量の負担
        .edit__box__content__inner__postage
          .edit__box__content__inner__postage__explain
            %p.postage 配送料のご負担
            %p.absolute 必須
          .edit__box__content__inner__postage__form__input
            .edit__box__content__inner__postage__form__input__text
              .edit__box__content__inner__postage__form__input__text__type
                = f.select :postage_user, Item.postage_users.keys,{prompt:"選択してください"}
            -#発送元の地域
        .edit__box__content__inner__prefecture
          .edit__box__content__inner__prefecture__explain
            %p.prefecture 発送元の地域
            %p.absolute 必須
          .edit__box__content__inner__prefecture__form__input
            .edit__box__content__inner__prefecture__form__input__text
              .edit__box__content__inner__prefecture__form__input__text__type
                = f.select :prefecture_id, Item.prefecture_ids.keys,{prompt:"選択してください"}
            -#発送の日数
        .edit__box__content__inner__preparation
          .edit__box__content__inner__preparation__explain
            %p.preparation 発送日の目安
            %p.absolute 必須
          .edit__box__content__inner__preparation__form__input
            .edit__box__content__inner__preparation__form__input__text
              .edit__box__content__inner__preparation__form__input__text__type
                = f.select :preparation, Item.preparations.keys,{prompt:"選択してください"}
      .edit__box__btn
        .edit__box__btn__inner
          .edit__box__btn__inner__edit
            =f.submit "出品する", class: "edit-btn"
            -#= link_to "出品する", root_path, method: :get, class: 'edit-btn'
          .edit__box__btn__inner__return
            = link_to "戻る", root_path, method: :get, class: 'return-btn'
  .edit__footer
    .edit__footer__box
      %p.footer-rule プライバシーポリシー
      %p.footer-rule FURIMA利用規約
      %p.footer-rule 特定商取引に関する表記
    .edit__footer__img
      =image_tag "logo-white.png", alt: "FURIMA：", class: "edit__footer__img__logo"
      %p.company  ©️FURIMA
