.detail
  = render partial: 'layouts/flash'
  .header
    = render "header"
    -#パンくず機能
  %nav.breadCrumbs
    %ul
      %li.top
        = link_to "FURIMA", root_path, method: :get, class: 'parent-category'
      %li.icon >
      %li.second
        = link_to "ベビー・キッズ", root_path, method: :get, class: 'child-category'
      %li.icon >
      %li.third 
        = link_to "ベビー服（男女兼用）〜95cm", root_path, method: :get, class: 'child-category__2'
      %li.icon >
      %li.forth 
        = link_to "アウター", root_path, method: :get, class: 'child-category__3'
      %li.icon >
      %li.fifth
        = link_to "product3", root_path, method: :get, class: 'child-category__now'
        -#商品詳細本文。
  
  .detail__content

    .detail__content__inner
      %p.detail__content__inner__name= @item.name
      .detail__content__inner__picture
        .detail__content__inner__picture__main
          - @item.images.first(1).each do |image|
            %ul
              %li
                =image_tag image.image.url, alt: "no-image"
        .detail__content__inner__picture__sub
          - @item.images.each do |image|
            %ul.detail__content__inner__picture__sub__img
              %li
                =image_tag image.image.url, alt: "no-image", class: "detail__content__inner__picture__sub__img__picture"

      .detail__content__inner__priceBox
        %li.detail__content__inner__priceBox--price= @item.price
        %li.detail__content__inner__priceBox--enn 円
      .detail__content__inner__tax  (税込) 送料込み
      .detail__content__inner__introduction
        .detail__content__inner__introduction__text= @item.introduction # 親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。と囃したからである。小使に負ぶさって帰って来た時、おやじが大きな眼をして二階ぐらいから飛び降りて腰
      -#商品詳細の具体的な項目　contentが編集内容になって変更となる。
      .detail__content__inner__information
        .detail__content__inner__information__data
          .detail__content__inner__information__data__exhibitor  
            .detail__content__inner__information__data__exhibitor__subject                出品者
            %p.detail__content__inner__information__data__exhibitor__content=             @item.seller.name
          .detail__content__inner__information__data__category
            .detail__content__inner__information__data__category__subject                 
            %p.detail__content__inner__information__data__category__content=              @item.category.parent.parent.name 
          .detail__content__inner__information__data__category2
            .detail__content__inner__information__data__category2__subject2                 カテゴリー
            %p.detail__content__inner__information__data__category2__content2=              @item.category.parent.name
          .detail__content__inner__information__data__category3
            .detail__content__inner__information__data__category3__subject3                 
            %p.detail__content__inner__information__data__category3__content3=              @item.category.name
          .detail__content__inner__information__data__brand
            .detail__content__inner__information__data__brand__subject                    ブランド
            %p.detail__content__inner__information__data__brand__content=                 @item.brand
          .detail__content__inner__information__data__condition
            .detail__content__inner__information__data__condition__subject                商品の状態
            %p.detail__content__inner__information__data__condition__content=             @item.condition
          .detail__content__inner__information__data__postage
            .detail__content__inner__information__data__postage__subject                  配送料の負担
            %p.detail__content__inner__information__data__postage__content=               @item.postage_user
          .detail__content__inner__information__data__prefacture
            .detail__content__inner__information__data__prefacture__subject               発送元の地域
            %p.detail__content__inner__information__data__prefacture__content=            @item.prefecture_id
          .detail__content__inner__information__data__preparation
            .detail__content__inner__information__data__preparation__subject              発送日の目安
            %p.detail__content__inner__information__data__preparation__content=           @item.preparation
          .detail__content__inner__information__data__footer
            .detail__content__inner__information__data__footer__star ★お気に入り０
            - if user_signed_in?
              - if current_user.id == @item.seller_id
                = link_to edit_item_path(@item), calss: "editBtn" do
                  .detail__content__inner__information__data__footer__edit 編集する
                = link_to item_path(@item),method: :delete, class: "destroyBtn" do
                  .detail__content__inner__information__data__footer__destroy 削除する
              - else
            - else


        .detail__content__inner__priceBox
          %li.detail__content__inner__priceBox--price= @item.price
          %li.detail__content__inner__priceBox--enn 円
        .detail__content__inner__tax  (税込) 送料込み
        .detail__content__inner__introduction
          .detail__content__inner__introduction__text= @item.introduction # 親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。と囃したからである。小使に負ぶさって帰って来た時、おやじが大きな眼をして二階ぐらいから飛び降りて腰
        -#商品詳細の具体的な項目　contentが編集内容になって変更となる。
        .detail__content__inner__information
          .detail__content__inner__information__data
            .detail__content__inner__information__data__exhibitor  
              .detail__content__inner__information__data__exhibitor__subject                出品者
              %p.detail__content__inner__information__data__exhibitor__content=             @item.seller.name
            .detail__content__inner__information__data__category
              .detail__content__inner__information__data__category__subject                 
              %p.detail__content__inner__information__data__category__content=              @item.category.parent.parent.name 
            .detail__content__inner__information__data__category2
              .detail__content__inner__information__data__category2__subject2                 カテゴリー
              %p.detail__content__inner__information__data__category2__content2=              @item.category.parent.name
            .detail__content__inner__information__data__category3
              .detail__content__inner__information__data__category3__subject3                 
              %p.detail__content__inner__information__data__category3__content3=              @item.category.name
            .detail__content__inner__information__data__brand
              .detail__content__inner__information__data__brand__subject                    ブランド
              %p.detail__content__inner__information__data__brand__content=                 @item.brand
            .detail__content__inner__information__data__condition
              .detail__content__inner__information__data__condition__subject                商品の状態
              %p.detail__content__inner__information__data__condition__content=             @item.condition
            .detail__content__inner__information__data__postage
              .detail__content__inner__information__data__postage__subject                  配送料の負担
              %p.detail__content__inner__information__data__postage__content=               @item.postage_user
            .detail__content__inner__information__data__prefacture
              .detail__content__inner__information__data__prefacture__subject               発送元の地域
              %p.detail__content__inner__information__data__prefacture__content=            @item.prefecture_id
            .detail__content__inner__information__data__preparation
              .detail__content__inner__information__data__preparation__subject              発送日の目安
              %p.detail__content__inner__information__data__preparation__content=           @item.preparation
            .detail__content__inner__information__data__footer
              .detail__content__inner__information__data__footer__star ★お気に入り０
              - if user_signed_in?
                - if current_user.id == @item.seller_id
                  = link_to edit_item_path(@item), calss: "editBtn" do
                    .detail__content__inner__information__data__footer__edit 編集する
                  = link_to item_path(@item),method: :delete, class: "destroyBtn" do
                    .detail__content__inner__information__data__footer__destroy 削除する
                - else
              - else

              .detail__content__inner__information__data__footer__warning 不適切な商品の通報
      -# コメント欄
      .comment
      - if user_signed_in?
        - if current_user
          .comment__inner
            .comment__inner__text
              = form_with local: true , class: "comment__inner__text__box" do |f|
                = f.text_area :name, class: "comment__inner__text__box__form"
                %p.attention  相手のことを考え丁寧なコメントを心がけましょう。<br>不快な言葉遣いなどは利用制限や退会処分となることがあります。
                = f.submit "コメントする", class: "comment__inner__btn "
                - if user_signed_in?
                  - if current_user.id != @item.seller_id
                    .perchase
                      = link_to "購入する", "#", method: :get, class: 'perchase-btn'
                  - else
                - else
        - else
      - else
      %p.soldout-content  この商品は売り切れました。
      
        

    .more
      .more__direction
        .more__direction__left  <前の商品
        .more__direction__right 後ろの商品>
      %p.more-item  ベビー・キッズをもっと見る
  
    .pick-more
      .pick-more__inner
        .pick-more__inner__topic
          .pick-more__inner__topic__main
            - @items.first(5).each do |item|
              .pick-more__inner__topic__main--one
                = link_to item_path(item),:style=>"text-decoration:none;" do
                  .pick-more__inner__topic__main--one__img
                    - if item.buyer_id.nil?
                    - else
                      .soldout 
                        .soldout-in SOLDOUT
                    = image_tag item.images[0].image.url, class: "pick-more__inner__topic__main--one__img__picture"
                  .pick-more__inner__topic__main--one__content
                    .pick-more__inner__topic__main--one__content__group
                      %li.pick-more__name 
                        = item.name
                      .pick-more__in
                        .pick-more__middle
                          %li.pick-more__middle__price
                            - if item.buyer_id.nil?
                              = item.price
                              円
                            - else
                              %span
                              SOLD OUT
                          %li.pick-more__middle__price ★1
                        %li.pick-more__tax
                          - if item.buyer_id.nil?
                            (税込)
                          - else
                            落札された商品です

  .footer
    = render "footer"


  